@model CRMContactForm.Models.ContactEntityModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Главная";
}
    
@using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { @class = "createcontactform" }))
    {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Создание нового контакта</legend>
            <br/>
            <div class="editor-label">
                @Html.LabelFor(model => model.ContactFirstName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ContactFirstName)
                @Html.ValidationMessageFor(model => model.ContactFirstName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ContactLastName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ContactLastName)
                @Html.ValidationMessageFor(model => model.ContactLastName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.MobilePhone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MobilePhone)
                @Html.ValidationMessageFor(model => model.MobilePhone)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.BirthDay)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BirthDay)
                @Html.ValidationMessageFor(model => model.BirthDay)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.JobTitle)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.JobTitle)
                @Html.ValidationMessageFor(model => model.JobTitle)
            </div>
    
            <p>
                <input type="submit" value="Сохранить" name="savebutton"/>
            </p>
            <p class="successmessage">
                @ViewBag.result
            <p/>
        </fieldset>
    }
    
<div>
    @Html.ActionLink("Обновить", "Index")
</div>
